.sidebar {
    width: 150px; /* Adjust width as needed */
    height: 100vh; /* Set sidebar height to full viewport height */
}

.nav-link {
    color: rgba(255, 255, 255, 0.75); /* Set link color with alpha for transparency */
    transition: background-color 0.2s ease-in-out; /* Smooth hover effect */
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Light background color on hover */
}
